tf2-kdl==0.7.10
gennodejs==2.0.2
xacro==1.14.20
rqt-tf-tree==0.6.5
roswtf==1.17.2
rqt-publisher==0.4.12
rosclean==1.15.10
image-geometry==1.16.2
rostest==1.17.2
rosgraph==1.17.2
diagnostic-analysis==1.12.1
roslz4==1.17.2
rqt-web==0.4.11
rqt-pose-view==0.5.13
rqt-rviz==0.7.2
rosmaster==1.17.2
camera-calibration-parsers==1.12.1
urdfdom-py==0.4.6
smach-ros==2.5.3
rqt-image-view==0.4.19
rqt_launch==0.4.9
smclib==1.8.7
rqt-py-common==0.5.5
rqt-action==0.4.11
genpy==0.6.18
bondpy==1.8.7
moveit-ros-planning-interface==1.1.16
dynamic-reconfigure==1.7.5
trac_ik_python==1.6.6
controller-manager-msgs==0.20.0
rqt-msg==0.4.12
tf2-ros==0.7.10
rqt-service-caller==0.4.12
qt-dotgraph==0.4.5
topic-tools==1.17.2
rqt-srv==0.4.11
rosparam==1.17.2
geneus==3.0.0
rqt-runtime-monitor==0.5.10
rqt-top==0.4.11
qt-gui-cpp==0.4.5
rosmsg==1.17.2
tf==1.13.4
sensor-msgs==1.13.2
angles==1.9.14
resource-retriever==1.12.10
python-qt-binding==0.4.6
diagnostic-updater==1.12.1
rqt-console==0.4.13
interactive-markers==1.12.2
qt-gui==0.4.5
rqt-plot==0.4.16
rosnode==1.17.2
tf2-py==0.7.10
rqt-topic==0.4.15
moveit-commander==1.1.16
rqt-robot-dashboard==0.5.8
rqt-graph==0.4.16
smach==2.5.3
moveit-core==1.1.16
rosboost-cfg==1.15.10
genlisp==0.4.18
roslib==1.15.10
tf2-geometry-msgs==0.7.10
cv-bridge==1.16.2
rqt-logger-level==0.4.13
rqt-nav-view==0.5.8
rosbag==1.17.2
rqt-controller-manager==0.20.0
genmsg==0.6.1
tf-conversions==1.13.4
rqt-gui==0.5.5
gazebo_plugins==2.9.3
rqt-robot-monitor==0.5.15
catkin==0.8.12
joint-state-publisher-gui==1.15.2
laser-geometry==1.6.8
rqt-gui-py==0.5.5
rosunit==1.15.10
gencpp==0.7.2
rqt-shell==0.4.13
rosservice==1.17.2
rqt-dep==0.4.14
roscreate==1.15.10
rqt-py-console==0.4.12
srdfdom==0.6.4
rqt-moveit==0.5.11
qt-gui-py-common==0.4.5
rviz==1.14.26
rqt-robot-steering==0.5.14
rqt-bag==0.5.3
actionlib==1.14.2
rqt-bag-plugins==0.5.3
rospy==1.17.2
diagnostic-common-diagnostics==1.12.1
message-filters==1.17.2
rostopic==1.17.2
gazebo_ros==2.9.3
camera-calibration==1.17.0
roslaunch==1.17.2
rosmake==1.15.10
roslint==0.12.0
rqt-reconfigure==0.5.7
controller-manager==0.20.0
moveit-ros-visualization==1.1.16
joint-state-publisher==1.15.2
pathtools==0.1.2
Jinja2==3.1.6
referencing==0.36.2
yarl==1.20.0
pydocstyle==6.3.0
dill==0.3.8
sniffio==1.3.1
ipython==8.18.1
coverage==6.4.4
hyperframe==6.1.0
docutils==0.17.1
imageio==2.37.0
widgetsnbextension==4.0.14
importlab==0.8.1
mccabe==0.6.1
promise==2.3
triton==3.2.0+git576374f8
triton==3.3.0
imagesize==1.4.1
setuptools-scm==7.0.5
pygame==2.6.1
pluggy==1.6.0
sphinx-autobuild==2024.10.3
rpds-py==0.25.1
click==8.0.4
click==8.1.8
pytz==2025.2
proglog==0.1.12
docker-pycreds==0.4.0
Shimmy==0.2.1
joblib==1.5.1
filelock==3.18.0
filelock==3.7.1
annotated-types==0.7.0
idna==3.10
pyasn1_modules==0.4.2
flake8-builtins==1.5.3
jupyter-server-mathjax==0.2.6
jax-jumpy==1.0.0
ptyprocess==0.7.0
pandocfilters==1.5.1
gymnasium==0.29.1
gymnasium==1.0.0
gmpy2==2.2.1
box2d-py==2.3.8
wasabi==1.1.3
AutoROM.accept-rom-license==0.6.1
psutil==7.0.0
codespell==2.1.0
tzdata==2025.2
colorama==0.4.6
traitlets==5.14.3
pytest-timeout==2.1.0
matplotlib==3.9.4
jsonpickle==4.1.1
pydantic==2.11.4
sphinxcontrib-htmlhelp==2.1.0
optuna==4.3.0
pybind11_global==2.13.6
sphinxcontrib-jsmath==1.0.1
stable-baselines3==2.2.1
stable_baselines3==2.6.0
sphinxcontrib-qthelp==2.0.0
jupyter-cache==0.6.1
munch==4.0.0
absl-py==2.3.0
pytest_notebook==0.8.0
iniconfig==2.1.0
huggingface-sb3==3.0
libcst==1.8.0
jedi==0.19.2
nodeenv==1.9.1
setproctitle==1.3.6
platformdirs==4.3.8
platformdirs==3.11.0
PyOpenGL==3.1.9
moviepy==1.0.3
websocket-client==1.8.0
eval_type_backport==0.2.2
ipywidgets==8.1.7
Sphinx==5.1.1
tensorboard-plugin-wit==1.8.1
docopt-ng==0.9.0
pre_commit==4.2.0
sphinxcontrib-napoleon==0.7
python-dateutil==2.9.0.post0
hpack==4.1.0
toml==0.10.2
PyYAML==6.0.2
matplotlib-inline==0.1.7
h2==4.2.0
mistune==3.1.3
soupsieve==2.7
appdirs==1.4.4
cloudpickle==3.1.1
pydot==4.0.0
threadpoolctl==3.6.0
webencodings==0.5.1
flake8-docstrings==1.6.0
QtPy==2.4.3
prompt_toolkit==3.0.51
pandas==2.2.3
pandas==1.4.4
ipdb==0.13.13
babel==2.17.0
sphinxcontrib-serializinghtml==2.0.0
gitdb==4.0.12
nbdime==4.0.2
tqdm==4.67.1
isort==5.13.2
wandb==0.12.21
wandb==0.20.0
sympy==1.14.0
decorator==4.4.2
ale-py==0.8.1
nvidia-cublas-cu12==12.6.4.1
watchfiles==1.0.5
pyflakes==2.4.0
attrs==22.2.0
pyparsing==3.2.3
websockets==15.0.1
Werkzeug==3.1.3
smmap==5.0.2
grpcio==1.43.0
multiprocess==0.70.16
sortedcontainers==2.4.0
nbclient==0.5.13
furo==2022.6.21
pydantic_core==2.33.2
bleach==6.2.0
xxhash==3.5.0
cachetools==5.5.2
debugpy==1.8.14
mypy_extensions==1.1.0
alabaster==0.7.16
jupyter-server==1.24.0
executing==2.2.0
nvidia-cusolver-cu12==11.7.1.2
terminado==0.18.1
frozenlist==1.6.2
tinycss2==1.4.0
notebook_shim==0.2.4
jupyter_core==5.8.1
nvidia-cuda-nvrtc-cu12==12.6.77
h11==0.16.0
flake8-isort==4.1.2.post0
pytest-forked==1.6.0
nvidia-cudnn-cu12==9.5.1.17
pytype==2023.9.27
networkx==3.2.1
networkx==3.1
rsa==4.9.1
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
codecov==2.1.13
typing-inspection==0.4.1
tensorboard-data-server==0.6.1
nbformat==5.10.4
ipython-genutils==0.2.0
kiwisolver==1.4.7
sacred==0.8.7
uvicorn==0.34.3
pyasn1==0.6.1
starlette==0.47.0
numpy==1.25.2
numpy==1.26.4
notebook==6.5.7
Send2Trash==1.8.3
nvidia-cusparse-cu12==12.5.4.2
pycparser==2.22
mpmath==1.3.0
MarkupSafe==3.0.2
Mako==1.3.10
sphinx-basic-ng==1.0.0b2
nvidia-cuda-cupti-cu12==12.6.80
wrapt==1.17.2
munkres==1.1.4
pytest-xdist==2.5.0
jupyter-console==6.4.2
aiohappyeyeballs==2.6.1
urllib3==2.4.0
sphinx-rtd-theme==1.0.0
aiohttp==3.12.9
colorlog==6.9.0
myst-parser==0.18.1
myst-nb==0.17.2
torch==2.6.0
torch==2.7.0
mdurl==0.1.2
Brotli==1.1.0
beautifulsoup4==4.13.4
Markdown==3.8
propcache==0.3.1
SQLAlchemy==2.0.41
snowballstemmer==3.0.1
nbclassic==1.3.1
nbconvert==7.16.6
markdown-it-py==2.2.0
cffi==1.17.1
jupyter==1.0.0
async-timeout==5.0.1
jsonschema-specifications==2025.4.1
packaging==25.0
pure_eval==0.2.3
Farama-Notifications==0.0.4
optree==0.16.0
pytest-cov==3.0.0
pockets==0.9.1
black==22.6.0
nvidia-cuda-runtime-cu12==12.6.77
huggingface-hub==0.32.4
py-cpuinfo==9.0.0
imageio-ffmpeg==0.6.0
seals==0.2.1
sphinx-copybutton==0.5.0
pathspec==0.12.1
argon2-cffi==25.1.0
PySocks==1.7.1
wheel==0.45.1
nvidia-cusparselt-cu12==0.6.3
shortuuid==1.0.13
ipykernel==6.15.3
Pygments==2.19.1
fsspec==2025.3.0
fsspec==2025.5.1
scipy==1.9.3
setuptools==80.9.0
google-auth==2.40.2
comm==0.2.2
pycodestyle==2.8.0
scikit-learn==1.6.1
mypy==0.991
fastjsonschema==2.21.1
tomli==2.2.1
rich==14.0.0
nvidia-curand-cu12==10.3.7.77
requests==2.32.3
virtualenv==20.21.1
cycler==0.12.1
asttokens==3.0.0
imitation==1.0.2.dev21714464+d20250604
flake8-blind-except==0.2.1
pybind11==2.13.6
jsonschema==4.24.0
identify==2.6.12
mdit-py-plugins==0.3.5
charset-normalizer==3.4.2
nest-asyncio==1.6.0
py==1.11.0
hf-xet==1.1.3
ray==2.0.1
darglint==1.8.1
cfgv==3.4.0
six==1.17.0
wcwidth==0.2.13
jupyter-client==6.1.12
pycnite==2024.7.31
zipp==3.22.0
tensorboardX==2.6.2.2
prometheus_client==0.22.1
requests-oauthlib==2.0.0
sphinx-github-changelog==1.2.1
autopep8==1.6.0
aiosignal==1.3.2
fonttools==4.58.1
tornado==6.5.1
hypothesis==6.54.6
pytest==7.1.3
oauthlib==3.2.2
pillow==11.2.1
anyio==3.7.1
jupyterlab_pygments==0.3.0
msgpack==1.1.0
pyzmq==26.4.0
unicodedata2==16.0.0
certifi==2025.4.26
jupyterlab_widgets==3.0.15
pexpect==4.9.0
tabulate==0.9.0
importlib_resources==6.5.2
contourpy==1.3.0
GitPython==3.1.44
pip==25.1.1
stack-data==0.6.3
google-auth-oauthlib==0.4.6
protobuf==5.28.3
protobuf==3.20.3
parso==0.8.4
pyarrow==20.0.0
argon2-cffi-bindings==21.2.0
distlib==0.3.9
greenlet==3.2.2
flake8-debugger==4.1.2
execnet==2.1.1
importlib_metadata==8.7.0
typing_extensions==4.14.0
flake8==4.0.1
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-applehelp==2.0.0
opencv-python==4.11.0.86
nvidia-nccl-cu12==2.26.2
flake8-commas==2.1.0
qtconsole==5.6.1
sentry-sdk==2.29.1
tensorboard==2.11.2
AutoROM==0.4.2
nvidia-nvjitlink-cu12==12.6.85
alembic==1.16.1
zstandard==0.23.0
multidict==6.4.4
nvidia-nvtx-cu12==12.6.77
defusedxml==0.7.1
tokenize_rt==6.2.0
sphinx-autodoc-typehints==1.19.2
datasets==3.6.0
ninja==1.11.1.4
exceptiongroup==1.3.0
